html
    head
        script(src="https://code.jquery.com/jquery-1.10.2.js")
        script(type='text/javascript').
            setInterval(function () {
                $.ajax({
                    url: "gettv",
                }).done(function(data) {
                    console.log(JSON.stringify(data));
                    if (data.force == "1") {
                        $(location).attr('href', data.url);
                    } else {
                        $("#tit").attr("href", data.url);
                    }
                });
            }, 3000);
    body
        a(href="#",id="tit")
            button PUSHME
