html
    head
        script(src="https://code.jquery.com/jquery-1.10.2.js")
        script(type='text/javascript').
            setInterval(function () {
                $.ajax({
                    url: "gettv",
                }).done(function(data) {
                    $("#tit").attr("href", data);
                });
            }, 3000);
    body
        a(href="#",id="tit")
            button PUSHME
